<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Larsen & McDermott Enterprises, LLC</p>
            <%if !user_signed_in?%>
              <div><%=link_to 'Sign Up For a Free Game Download', new_user_registration_path, :class => 'btn btn-primary btn-large' %></div><br/>
            <%end%>
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="new-slide-image" src="<%=image_path("windows.jpg")%>" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image-2" src="<%=image_path("windows.jpg")%>" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image-3" src="<%=image_path("windows.jpg")%>" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div><br/>
            <div class="row">
                <%@products.each do |product|%>
                  <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$<%=product.price%></h4>
                            <h4><%= link_to raw("#{product.name}"), :controller => 'products', :action => 'display', :content => product %>
                            </h4>
                            <p><%=product.description%></p>
                        </div>
                    </div>
                  </div>
                <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Larsen & McDermott Enterprises, LLC 2015</p>
            </div>
        </div>
    </footer>
   
</div>
<!-- /.container -->
