<% content_for :title do %>About<% end %>
<center><h3>About Us</h3></center>
<center><p>
Welcome to Larsen & McDermott Enterprises online store. We are a software development company that specializes in building and selling digital products.
</p></center>
