<%if notice%>
<p id="notice"><%=notice%></p>
<%end%>

<h2>Your Shopping Cart</h2>
<ul>
  <%@cart.line_items.each do |item|%>
    <li><%=item.quantity%>&times; <%=item.product.name%></li>
  <%end%>
</ul>
