<h3>Product Details</h3>


<b>Product Name: </b><%=@product.name%><br/>
<b>Product Description: </b><%=@product.description%><br/>
<b>Product Price(USD): </b>$<%=@product.price%><br/><br/>

<%=button_to "Add To Cart", line_items_path(product_id: @product), class: "btn btn-primary"%>
