<h2>Edit This Product</h2>

<%=form_for(@product) do |product|%>
  <%if @product.errors.any?%>
    <div id="error_explanation">
      <h2><%=pluralize(@product.errors.count, "error")%> prohibited this product from being saved: </h2>
      <ul>
      <%@product.errors.full_messages.each do |msg|%>
        <li><%=msg%></li>
      <%end%>
      </ul>
    </div>
  <%end%>

  <div class="field">
    <%=product.label :name%>
    <%=product.text_field :name%>
  </div>

  <div class="field">
    <%=product.label :description%>
    <%=product.text_field :description%>
  </div>

  <div class="field">
    <%=product.label :price%>
    <%=product.text_field :price%>
  </div>

  <div class="field">
    <%=product.label :image_url%>
    <%=product.text_field :image_url%>
  </div>

  <div class="actions">
    <%=product.submit "Submit Updated Product"%>
  </div>
<%end%>
