<h1>All Products</h1>

<%@products.each do |product|%>
  <h4>Product <%=product.id%></h4>
  <%=product.name%><br/>
  <%=product.description%><br/>
  <%=product.price%><br/>
  <%=product.image_url%><br/>
  <%=link_to "Edit Product", edit_product_path(product)%><br/>
  <%=link_to "Delete Product", product, method: :delete, data: {confirm: 'Are you sure you want to delete that product?'}%>
  <br/>
<%end%>
